/* resets all default formating */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: fixed;
}

.social-media-container {
  /* border: 5px solid blue; */
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.header {
  /* border: 1px solid red; */
  height: 10vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* the main background image of the page */
.hero {
  /* border: 10px solid red; */
  background-image: url(../images/columbus.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/* styles the menu button */
#edit-btn {
  color: #e8e8e8;
  font-size: 60px;
  margin-left: 25px;
  margin-top: 18px;
  z-index: 15;
}

/* changes the color of the menu button and cursor to pointer on hover */
#edit-btn:hover {
  color: #000;
  cursor: pointer;
}

/* toggled in index.js to hide the menu btn and not take up space */
.edit-btn-hide {
  position: absolute;
  left: -999em;
}

#home-btn {
  color: #e8e8e8;
  font-size: 60px;
  margin-left: 25px;
  margin-top: 18px;
  z-index: 15;
}

#home-btn:hover {
  color: #000;
  cursor: pointer;
}

.home-btn-hide {
  position: absolute;
  left: -999em;
}

#about-me-btn {
  color: #e8e8e8;
  font-size: 50px;
  margin-left: 25px;
  margin-top: 18px;
  z-index: 15;
}

#about-me-btn:hover {
  color: #000;
  cursor: pointer;
}

.about-me-btn-hide {
  position: absolute;
  left: -999em;
}

#portfolio-btn {
  color: #e8e8e8;
  font-size: 50px;
  margin-left: 25px;
  margin-top: 18px;
  z-index: 15;
}

#portfolio-btn:hover {
  color: #000;
  cursor: pointer;
}

.portfolio-btn-hide {
  position: absolute;
  left: -999em;
}

#contact-me-btn {
  color: #e8e8e8;
  font-size: 50px;
  margin-left: 25px;
  margin-top: 18px;
  z-index: 15;
}

#contact-me-btn:hover {
  color: #000;
  cursor: pointer;
}

.contact-me-btn-hide {
  position: absolute;
  left: -999em;
}

/* hides menu and *content* */
.menu {
  visibility: hidden;
}

/* toggled in index.js to show the menu */
.menu-show {
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  position: fixed;
  visibility: visible;
  width: 25%;
  z-index: 10;
}

.menu-content {
  display: flex;
  flex-direction: column;
}

.close-menu {
  color: #9c9c9c;
  font-size: 30px;
  padding-right: 20px;
  text-align: end;
}

.close-menu:hover {
  color: #000;
  cursor: pointer;
}

.back-ground-img-none {
  display: none;
}

.back-ground-img {
  border-top: 1px solid;
  padding: 20px 0px 20px 40px;
}

.back-ground-img:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2),
    1px -1px 8px rgba(0, 0, 0, 0.2), -1px 1px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.back-ground-img-gallery {
  visibility: hidden;
}

.back-ground-img-gallery-show {
  box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.2),
    -1px -1px 8px rgba(255, 255, 255, 0.2),
    1px -1px 8px rgba(255, 255, 255, 0.2), -1px 1px 8px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  margin-left: 26%;
  margin-top: 2.5%;
  overflow: auto;
  padding-left: 1%;
  padding-top: 1%;
  position: relative;
  top: 0;
  transition: 0.3s;
  visibility: visible;
  width: 60%;
  z-index: 2;
}

.back-ground-img-gallery > .close-gallery {
  padding-left: 1%;
}

.close-gallery {
  color: #9c9c9c;
  font-size: 25px;
  position: absolute;
  top: 0;
}

.close-gallery:hover {
  color: black;
  cursor: pointer;
}

.image-option {
  height: 30%;
  margin: 1%;
  width: 30%;
}
.image-option:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5), -1px -1px 8px rgba(0, 0, 0, 0.5),
    1px -1px 8px rgba(0, 0, 0, 0.5), -1px 1px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.font-none {
  display: none;
}

.font {
  border-top: 1px solid;
  padding: 20px 0px 20px 40px;
}

.font:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2),
    1px -1px 8px rgba(0, 0, 0, 0.2), -1px 1px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.font-gallery {
  visibility: hidden;
}

.font-gallery-show {
  box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.2),
    -1px -1px 8px rgba(255, 255, 255, 0.2),
    1px -1px 8px rgba(255, 255, 255, 0.2), -1px 1px 8px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-wrap: wrap;
  height: 30%;
  justify-content: center;
  margin-left: 26%;
  margin-top: 5.5%;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: 0.3s;
  width: 20%;
  visibility: visible;
}

.font-gallery > .close-fonts {
  justify-content: left;
}

.font-option {
  border: 1px solid;
  color: #9c9c9c;
  display: flex;
  flex-direction: column;
  font-size: 25px;
  height: 33.3%;
  justify-content: center;
  margin: 3%;
  text-align: center;
  width: 40%;
}

.font-option:hover {
  color: #000;
  cursor: pointer;
}

.close-fonts {
  color: #9c9c9c;
  font-size: 25px;
  position: relative;
  top: 0;
}

.close-fonts:hover {
  color: black;
  cursor: pointer;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.modak {
  font-family: "Modak", cursive;
}

.playfair-display {
  font-family: "Playfair Display", serif;
}

.inconsolata {
  font-family: "Inconsolata", monospace;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
}

.anton {
  font-family: "Anton", sans-serif;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
}

.shadows-into-light {
  font-family: "Shadows Into Light", cursive;
}

.amatic-sc {
  font-family: "Amatic SC", cursive;
}

.saira-stencil-one {
  font-family: "Saira Stencil One", cursive;
}

.color-scheme-none {
  display: none;
}

.color-scheme {
  border-top: 1px solid;
  padding: 20px 0px 20px 40px;
}

.color-scheme:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2),
    1px -1px 8px rgba(0, 0, 0, 0.2), -1px 1px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.color-gallery {
  visibility: hidden;
}

.color-gallery-show {
  align-items: center;
  box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.2),
    -1px -1px 8px rgba(255, 255, 255, 0.2),
    1px -1px 8px rgba(255, 255, 255, 0.2), -1px 1px 8px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: space-around;
  margin-left: 26%;
  margin-top: 8.75%;
  position: absolute;
  top: 0;
  transition: 0.2s;
  width: 20%;
  visibility: visible;
}

.color-gallery-info {
  visibility: hidden;
}

.color-gallery-info-show {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  height: 10%;
  justify-content: space-around;
  margin-left: 31%;
  margin-top: 14.75%;
  position: absolute;
  top: 0;
  width: 10%;
  visibility: visible;
}

.color-gallery-info-show::after {
  border-bottom: 15px solid rgba(255, 255, 255, 0.8);
  border-right: 10px solid transparent;
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  content: " ";
  height: 0px;
  left: 15%;
  position: absolute;
  bottom: 100%;
  width: 0px;
}

.color-picker {
  height: 50%;
  width: 25%;
}

.color-picker:hover {
  border: 5px solid #fff;
  cursor: pointer;
}

.close-color {
  color: #9c9c9c;
  font-size: 25px;
  /* position: absolute; */
  top: 0;
}

.close-color:hover {
  color: black;
  cursor: pointer;
}

.site-menu-dropdown-none {
  display: none;
}

.site-menu-dropdown {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 20px 0px 20px 40px;
}

.site-menu-dropdown:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2),
    1px -1px 8px rgba(0, 0, 0, 0.2), -1px 1px 8px rgba(0, 0, 0, 0.2);
}

.site-menu-dropdown > #right-arrow-icon {
  color: #9c9c9c;
  font-size: 25px;
  padding-left: 77%;
}

.site-menu-dropdown > #right-arrow-icon:hover {
  color: #000;
  cursor: pointer;
}

#menu-icon {
  color: #9c9c9c;
  padding-right: 10px;
}

#menu-icon:hover {
  color: #000;
  cursor: pointer;
}

.collapse-site-menu {
  display: none;
}

.collapse-site-menu-show {
  border-top: 1px solid;
  border-bottom: 1px solid;
  color: #9c9c9c;
  display: flex;
  font-size: 50px;
  padding: 5px 0px 5px 40px;
}

.collapse-site-menu:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2),
    1px -1px 8px rgba(0, 0, 0, 0.2), -1px 1px 8px rgba(0, 0, 0, 0.2);
  color: #000;
  cursor: pointer;
}

.about-me {
  display: none;
}

.about-me-show {
  border-bottom: 1px solid;
  display: flex;
  padding: 20px 0px 20px 40px;
}

.about-me:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2),
    1px -1px 8px rgba(0, 0, 0, 0.2), -1px 1px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#about-me-site-menu-icon {
  color: #9c9c9c;
  padding-right: 15px;
}

#about-me-site-menu-icon:hover {
  color: #000;
}

.portfolio {
  display: none;
}

.portfolio-show {
  border-bottom: 1px solid;
  display: flex;
  padding: 20px 0px 20px 40px;
}

.portfolio:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2),
    1px -1px 8px rgba(0, 0, 0, 0.2), -1px 1px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#portfolio-site-menu-icon {
  color: #9c9c9c;
  padding-right: 15px;
}

#portfolio-site-menu-icon:hover {
  color: #000;
}

.contact-me {
  display: none;
}

.contact-me-show {
  border-bottom: 1px solid;
  display: flex;
  padding: 20px 0px 20px 40px;
}

.contact-me:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2),
    1px -1px 8px rgba(0, 0, 0, 0.2), -1px 1px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#contact-me-site-menu-icon {
  color: #9c9c9c;
  padding-right: 15px;
}

#contact-me-site-menu-icon:hover {
  color: #000;
}

.title {
  /* border: 1px solid red; */
  color: #e8e8e8;
  display: flex;
  font-size: 100px;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.right-arrow {
  color: rgba(232, 232, 232, 0.5);
  font-size: 250px;
  position: fixed;
  width: 200px;
}

.right-arrow:hover {
  cursor: pointer;
  /* color: rgba(255, 255, 255, 0.3); */
  color: #e8e8e8;
}

.social-media {
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  float: right;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100px;
  z-index: 10;
}

.facebook {
  align-items: center;
  background-color: #3b579c;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-radius: 35px 0px 0px 35px;
  color: #fff;
  display: flex;
  float: right;
  font-size: 40px;
  height: 70px;
  justify-content: center;
  width: 60px;
}

.facebook:hover {
  color: #000;
  cursor: pointer;
  width: 80px;
}

.twitter {
  align-items: center;
  background-color: #28aae2;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-radius: 35px 0px 0px 35px;
  color: #fff;
  display: flex;
  float: right;
  font-size: 40px;
  height: 70px;
  justify-content: center;
  width: 60px;
}

.twitter:hover {
  color: #000;
  cursor: pointer;
  width: 80px;
}

.instagram {
  align-items: center;
  background-color: #8141b9;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-radius: 35px 0px 0px 35px;
  color: #fff;
  display: flex;
  float: right;
  font-size: 40px;
  height: 70px;
  justify-content: center;
  width: 60px;
}

.instagram:hover {
  color: #000;
  cursor: pointer;
  width: 80px;
}

.linkedin {
  align-items: center;
  background-color: #0077b5;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-radius: 35px 0px 0px 35px;
  color: #fff;
  display: flex;
  float: right;
  font-size: 40px;
  height: 70px;
  justify-content: center;
  width: 60px;
}

.linkedin:hover {
  color: #000;
  cursor: pointer;
  width: 80px;
}

.github {
  align-items: center;
  background-color: #252a2f;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-radius: 35px 0px 0px 35px;
  color: #fff;
  display: flex;
  float: right;
  font-size: 40px;
  height: 70px;
  justify-content: center;
  width: 60px;
}

.github:hover {
  color: #000;
  cursor: pointer;
  width: 80px;
}
